@use "../wbu-ressources.scss" as ptm;

.product_meta {
  margin-bottom: ptm.$wbu-margin;

  span {
    font-weight: 500;
    color      : ptm.$wbu-color-text;
  }

  a {
    color          : ptm.$wbu-color-text;
    margin-left    : 10px;
    font-weight    : 600;
    text-decoration: none;
    font-size      : 14px;
  }
}