@use "../wbu-ressources.scss" as *;

.product_variant_color {
  margin-bottom: $wbu-margin;

  .group-btn {
    @include wbu--btn-round($wbu-btn-round-dimension:2rem,$wbu-btn-border-round:0);

    .btn {
      margin-right: 0.5rem;
      position    : relative;
      z-index     : 0;

      & .color-carre {
        content : "";
        position: absolute;
        top     : 0.2rem;
        right   : 0.2rem;
        left    : 0.2rem;
        bottom  : 0.2rem;
        z-index : 1;
      }

      &.color-1 .color-carre {
        background: #F00;
      }

      &.color-2 .color-carre {
        background: #555;
      }

      &.color-3 .color-carre {
        background: #000;
      }

      &.color-4 .color-carre {
        background: #00e;
      }
    }
  }
}