// variable;
@use "../wbu-ressources.scss" as *;

.product_rating {
  margin-bottom: $wbu-margin;

  ul {
    list-style: outside none none;
    margin    : 0;
    padding   : 0;

    li {
      display: inline-block;

      a {
        font-size: inherit;
        color    : inherit;
      }
    }
  }
}