@use "../../wbu-ressources.scss" as *;

body,
html {
  font-size: $wbu-default-font-size;
  letter-spacing: normal;
  line-height: $wbu-default-line-height;
  color: $wbu-color-text;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}
