@use "../../wbu-ressources.scss" as *;
@use "default";
/**
  Elment de base pour le titre.
*/
//

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $wbu-title-font-family;
  font-weight: $wbu-title-font-weight;
  line-height: inherit;
  margin     : 0;
  color      : $wbu-title-color;
}