@use "../../wbu-ressources.scss" as *;
@use "../../atome/stephane/cover-link.scss";
@use "../../atome/typography/default";

.billetDeBlogTeaser {
  margin: 0 auto $wbu-margin * 2.5;
  width: 100%;
  display: block;
  position: relative;
  height: 328px;
  background-size: cover;
  background-position: top;

  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, rgba(27, 25, 24, 0), #1b1918);
    padding-top: $wbu-margin * 1.5;
  }

  &__text {
    padding: 0 20px;

    .date {
      font-size: $wbu-default-font-size;
      line-height: 18px;
      color: #fff;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      a {
        color: #fff;
        display: inline-block;
        padding-right: $wbu-margin * 0.25;
        position: relative;
        &:hover {
          font-weight: 400;
        }
        + a {
          padding-left: $wbu-margin * 0.25;
          &::before {
            content: "|";
            display: inline-block;
            position: absolute;
            top: 0;
            left: -2px;
          }
        }
      }
    }

    .title {
      font-size: $wbu-default-font-size * 1.7;
      line-height: 26px;
      color: #fff;
      margin-bottom: 22px;
      font-weight: 400;
    }
    .description {
      color: #fff;
      margin-bottom: $wbu-margin * 0.5;
      font-weight: 500;
      position: relative;
      a {
        color: #fff;
      }
      i {
        margin-right: $wbu-margin * 0.25;
        font-size: 1.6rem;
        position: absolute;
        left: -$wbu-margin;
      }
    }
  }

  &.a-la-une {
    margin-bottom: $wbu-margin * 2.5;
    height: 450px;

    .billetDeBlogTeaser__text {
      line-height: 2.2;

      .a-la-une {
        color: #fff;
        font-size: 22px;
      }

      .title {
        font-size: 34px;
        line-height: 40px;
        font-weight: 500;
      }
    }
  }

  &.a-la-une {
    margin-bottom: $wbu-margin * 2.5;
    height: 450px;

    .billetDeBlogTeaser__text {
      line-height: 2.2;

      .a-la-une {
        color: #fff;
        font-size: 22px;
      }

      .title {
        font-size: 34px;
        line-height: 40px;
        font-weight: 500;
      }
    }
  }
}
