@use "../../wbu-ressources.scss" as *;
@use "../../atome/typography/default";

.paragraphList {
  margin-bottom: $wbu-margin*2;
  text-align   : center;

  ul {
    list-style: none;
    padding   : 0;

    li {
      margin-top     : 5px;
      display        : flex;
      justify-content: start;
      align-items    : center;

      .list_icon {
        width           : 25px;
        height          : 25px;
        display         : flex;
        justify-content : center;
        background-color: ghostwhite;
        align-items     : center;
        border-radius   : 20px;
        padding         : 5px;
        color           : teal;
        margin-right    : 15px;
        @include media-max(XX) {
          width    : 18px;
          height   : 18px;
          font-size: 11px;
        }
      }

      p {
        text-align : left;
        font-weight: 700;
        font-size  : $wbu-default-font-size * 1.1;
        line-height: 18px;
        color      : #1b1918;

        span {
          color: #49a0a2;
        }
      }
    }
  }
}