@use '../../defaut/model/custom_bp.scss' as *;
@use '../../variables' as *;
@use "../../atome/typography/default";
@use './reinsuranceItem.scss';

.projectSummary {
  display      : flex;
  @include media-min(MS) {
    margin-left : $wbu-margin*2.5;
    margin-right: $wbu-margin*2.5;
  }
  margin-bottom: $wbu-margin*2.5;
  //justify-content: space-around;
  border-top   : 1px solid rgba(160, 160, 160, 0.227);

  &__square {
    display        : flex;
    width          : 30%;
    padding        : 2rem;
    //background-color: rgb(240, 240, 240);
    justify-content: center;
    position       : relative;
    //border-left: 1px solid rgba(160, 160, 160, 0.227);
    &::after {
      content         : "";
      height          : 30%; //You can change this if you want smaller/bigger borders
      width           : 1px;
      display         : flex;
      align-items     : center;
      position        : absolute;
      right           : 0;
      top             : 78px; // If you want to set a smaller height and center it, change this value
      @include media-max(XS) {
        top: 50px;
      }
      background-color: rgba(160, 160, 160, 0.227); // The color of your border
    }

    &:last-child {
      &::after {
        width: 0;
      }
    }

    .reinsuranceItem {
      margin: 0;

      p {
        margin: 0.5rem 0 0;
        color : #959595;
        @include media-max(XX) {
          font-size: $wbu-default-font-size * 0.8;
          margin   : 0;
        }
      }

      &__iconContainer {
        width          : 90px;
        height         : 90px;
        justify-content: center;
        display        : flex;
        align-items    : center;
        margin         : 0;
        @include media-max(XS) {
          width : 50px;
          height: 50px;
        }
      }

      &__assistance {
        i {
          font-size: $wbu-default-font-size * 3;
          @include media-max(XS) {
            font-size: $wbu-default-font-size * 1.5;
          }
        }
      }

      &__title {
        font-size    : $wbu-default-font-size * 2;
        font-weight  : 300;
        margin-top   : 2rem;
        margin-bottom: 0.5rem;
        @include media-max(XS) {
          font-size    : $wbu-default-font-size * 1.2;
          margin-bottom: -5px;
        }
        @include media-max(XX) {
          font-size: $wbu-default-font-size * 0.8;
          margin   : 0 0 -5px;
        }

        .number-unit {
          font-size: $wbu-default-font-size * 1.5;
          color    : black;
          @include media-max(XS) {
            font-size: $wbu-default-font-size * 1;
          }
        }
      }
    }
  }
}