@use '../../defaut/model/custom_bp.scss' as *;
@use '../../variables' as *;
@use "../../atome/typography/default";
.pushNewsletter {
  background: linear-gradient(57.9deg, #007891 14.08%, #49a0a2);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 5rem;
  &__title {
    margin-top: 40px;
    margin-right: 57px;
    margin-left: 57px;
    font-weight: 700;
    font-size: $wbu-default-font-size * 2.1;
    line-height: 32px;
    color: #fff;
  }

  &__description {
    margin: 20px 37px 0;
    font-weight: 400;
    font-size: $wbu-default-font-size * 1.2;
    line-height: 18px;
    color: #fff;
  }

  &__form {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding: 25px 50px 0;
    align-items: center;
    .FormControl {
      display: inline-flex;

      .FormLabel {
        position: absolute;
        color: #979797;
        z-index: 1;
        transform: translate(12px, 15px) scale(1);
      }

      .InputBase {
        color: #1b1918;
        height: 48px;
        border-radius: 2px;
        overflow: hidden;

        .input {
          padding: 27px 12px 10px;
          font: inherit;
          border: 0;
        }
      }
    }
  }

  &__button {
    width: 206px;
    margin-top: 30px;
    height: 48px;
    background-color: #a4d0d1;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    font-size: $wbu-default-font-size * 0.87;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    @include media-max(XX) {
      width: 100%;
    }
    &:hover {
      background-color: #49a0a2;
    }
  }

  &__privacy {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    margin-top: 14px;
    padding: 0 50px;

    a {
      color: #fff;
    }
  }
}
