/** 
 * @format 
 */
@use "../../wbu-ressources-clean.scss" as *;
@use "../../defaut/model/custom_bp.scss" as *;
@use "../../variables" as *;
@use "../../atome/typography/default";
$wbu-default-font-size-menu: $wbu-default-font-size * 0.9;

.sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background: #f8f9fa;
  z-index: 100;
  @include media-min(SM) {
    position: relative;
    left: auto;
    top: auto;
  }
  .navbar {
    //overflow: hidden;
    //background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
    .nav {
      float: left;
      color: rgb(0, 0, 0);
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      padding: $wbu-margin * 0.5 $wbu-margin;
      width: 100%;
      position: relative;
      @include media-min(SM) {
        width: auto;
        position: unset;
      }
    }
    .menu.navbar {
      list-style: none;
    }
  }

  .dropdown {
    float: left;
    position: initial;
    @include media-min(SM) {
      overflow: hidden;
    }
    .dropbtn {
      border: none;
      outline: none;
      color: rgb(0, 0, 0);
      background-color: inherit;
      font: inherit;
      margin: 0;
    }
    > a {
      color: rgba(0, 0, 0, 0.5);
      &.is-active {
        color: $wbu-color-primary;
      }
    }

    .hierarchical-term__menu {
      display: flex;
      list-style: none;
      padding-top: $wbu-margin;
      padding-left: $wbu-margin;
      padding-bottom: $wbu-margin;
      flex-wrap: wrap;
      .block-taxonomymenu__link {
        margin-bottom: $wbu-margin * 0.25;
        text-align: left;
      }
      .content-sub-menu {
        a {
          color: #415f78;
          font-weight: 600;
          font-size: $wbu-default-font-size * 1.1;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        margin-bottom: $wbu-margin * 0.5;
        min-width: 200px;
        width: calc(25% - 5rem);
        //max-width: calc(25% - 5rem);
        a {
          color: #444;
        }
      }
      > li {
        margin-right: $wbu-margin * 2.5;
        > .block-taxonomymenu__link {
          margin-bottom: $wbu-margin * 0.75;
          &.content-sub-menu {
            font-size: $wbu-default-font-size-menu * 1.3;
          }
          a {
            color: #000;
            font-weight: 600;
          }
        }
        > .hierarchical-term__menu--sub {
          // display: flex;
          // flex-wrap: wrap;
          > li {
            > .hierarchical-term__menu--sub {
              padding-left: $wbu-margin * 0.5;
            }
          }
        }
      }
      .hierarchical-term__menu--sub {
        margin-bottom: $wbu-margin;
      }
      svg {
        width: 20px;
        fill: #000;
        margin-right: $wbu-margin * 0.5;
        path {
          fill: #000;
        }
      }
    }
    &.has-submenu:hover,
    &.show {
      .dropdown-content {
        display: block;
        z-index: 1;
        opacity: 1;
      }
    }
    &.show {
      z-index: 100;
    }
  }

  // .dropdown:hover .dropdown-content {
  // 	display: block;
  // 	background-color: blue;
  // }
  .dropdown-content {
    font-size: $wbu-default-font-size-menu;
    display: none;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    z-index: -1;
    opacity: 0;
    max-height: 72vh;
    overflow: auto;
    transition: ease-in-out 0.25s;
    @include media-min(SM) {
      top: calc(100% + 4px);
      position: absolute;
      //display: block;
    }
  }

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    flex: 1 0 20%;
    font-size: 14px;

    padding: 23px 23px;
    //background-color: #ccc;
    font-family: "Open Sans", sans-serif;
    @include media-max(SM) {
      flex: 1 0 40%;
    }

    a {
      color: black;
      padding: 6px;
      text-decoration: none;
      display: flex;
      line-height: 1.6em;
      text-align: left;
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;
      font-size: 16px;
      font-weight: 700;
      color: black;
      .fa {
        margin-right: 12px;
        font-size: 23px;
        color: teal;
      }
    }
  }

  /* Clear floats after the columns */
  .ligne:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }
}

// .path-comment-ca-marche {
//   .dropdown {
//     &:nth-child(13) {
//       .dropdown-content {
//         display: block;
//         z-index: 1;
//         opacity: 1;
//       }
//     }
//   }
// }
