@use "../../wbu-ressources.scss" as *;
@use "../../atome/typography/h1";
@use "../../atome/typography/p";

.header-blog {
  font-size: $wbu-default-font-size * 1.89;
  line-height: 1.1;
  text-align: center;
  @include media-min("DD") {
    text-align: left;
    font-size: $wbu-default-font-size * 1.32;
    line-height: 1.65;
  }

  p {
    font-size: inherit;
    margin-bottom: 0;
  }
}
