@use "../../wbu-ressources.scss" as *;

.socials-items {
  align-items: center;

  .socials-item {
    color    : inherit;
    padding  : 0 $wbu-margin/2;
    font-size: $wbu-default-font-size + 0.1rem;
  }
}