/** @format */

@use "../../variables" as *;

.hp-desc {
	font-size: 1.4rem;
	text-transform: uppercase;
	color: $wbu-color-primary;
	font-weight: 500;
	letter-spacing: 0.1rem;
	margin-top: 1.9rem;
	text-align: center;
	font-family: "Poppins", sans-serif;
}
