/** @format */

@use "../../atome/typography/h2.scss";
@use "../../defaut/model/custom_bp.scss";

.h2Title {
	opacity: 1;
	line-height: 1;
	//font-weight: bold;
	text-align: center;
	font-size: 4.1rem;

	@media only screen and (max-width: 480px) {
		font-size: 3rem;
		margin-bottom: 1rem;
	}
	// @include media-min(XS) {
	//     color:blue;
	//}
}
