/** @format */

@use "../../variables" as *;
.spanForH2 {
	color: $wbu-color-primary;
	margin-bottom: 0;
	text-transform: uppercase;
	line-height: 1;
	font-size: 4.1rem;
	text-align: center;
	font-family: "Poppins", sans-serif;
}
