/** @format */

@use "../../wbu-ressources.scss";

.subDescription {
	display: block;
	margin-top: 2rem;
	font-size: 1.4rem;
	color: #585858;
	margin-bottom: 0;
	line-height: 1.6;
	font-weight: 300;
}
