/** @format */

@use "../../molecule/home_page/block__whoAreWe--plain.scss";

.block__whoAreWe--plain--no-bg {
	.block__whoAreWe--plain {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: white;
		.h2Title {
			padding-bottom: 5px;
		}
	}

	// h2 {

	//     text-transform: uppercase;
	//     color:black;

	// }
}
