/** @format */
@use "../../../scss/wbu-ressources-clean.scss" as *;
@use "../../variables" as *;
@use "../../atome/home_page/h2Title.scss";
@use "../../atome/home_page/btn-carre.scss";
@use "../../atome/home_page/description.scss";

.hero-section {
  min-height: 60vh;
  padding: 128px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $wbu-color-thirdly;
  .btn-block {
    position: relative;
    bottom: -92px;
  }
  .btn-carre {
    @include media-max(XX) {
      font-size: 14px;
    }
  }
  &__block-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &::before,
    &::after {
      content: "";
      border: 1px solid $wbu-color-primary;
      transform: rotate(90deg);
      width: 125px;
      position: relative;
      display: block;
      @include media-max(XS) {
        width: 100px;
      }
    }

    .desc {
      padding: 81px 0;
    }
    .hp-desc {
      color: $wbu-color-primary;
      //letter-spacing: 0.2rem;
      //margin-bottom: -1.1rem;
      font-size: 2.7rem;
      text-transform: none;
      letter-spacing: 3px;
      @include media-max(SM) {
        font-size: 1.8rem;
        padding-bottom: 3px;
      }
      @include media-max(MD) {
        font-size: 2rem;
      }
      @include media-max(XS) {
        font-size: 1.2rem;
      }
    }
    .desc__title {
      font-size: 6.8rem;
      text-transform: none;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      color: white;
      letter-spacing: 1px;
      text-align: center;

      @include media-max(MD) {
        font-size: 5.8rem;
      }
      @include media-max(SM) {
        font-size: 4.2rem;
      }
      @include media-max(XS) {
        font-size: 3.6rem;
      }
      @include media-max(XX) {
        font-size: 3rem;
      }
      span {
        color: $wbu-color-primary;
      }
    }
  }
}
