@use "../../../../wbu-ressources-clean.scss";
@import "../../../../variables";

#footer {

    background: #fff;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
    padding: 30px 0;
    color: #222222;
    font-size: 14px;

    .credits {

        font-size: 1.3rem;
        padding-top: 5px;
        color: #222222;

        a {

            color: #3498db;
            text-decoration: none;

        }

    }

    .footer-links a {

        color: #222222;
        padding-left: 15px;
        text-decoration: none;

        &:hover {

            color: #3498db;

        }

    }

}

