@use "../../../../wbu-ressources-clean.scss";
@import "../../../../variables";

.more-services {

    .card {

        border: 0;
        padding: 160px 20px 20px 20px;
        position: relative;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &:hover .card-body{

            background:#3498db;

        }

        &:hover .card-title a{

            color:#fff;

        }

        &:hover .card-text {

            color: #fff;

        }

        &:hover .read-more a {

            color:#fff;

        }

    }

    .card-body {

        z-index: 10;
        background: rgba(255,255,255,0.9);
        padding: 15px 30px;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
        transition: ease-in-out 0.4s;
        border-radius: 5px;

    }

    .card-title {

        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.25rem;

        a {

            color: #222222;
            text-decoration: none;

        }

    }

    .card-text {

        color: #5e5e5e;

    }

    .read-more a {

        color: #777777;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
        transition: 0.4s;
        text-decoration: none;

    }

}