@use "../../../../wbu-ressources-clean.scss";
@import "../../../../variables";

.testimonials {

    .testimonials-slider {

        overflow: hidden;

    }

    .swiper {

        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        //background: black;
        //border: 1px solid black;
        height: 400px;

    }

    .swiper-wrap {

        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;

        .swiper-slide {

            flex-shrink: 0;
            height: 100%;
            position: relative;
            transition-property: transform;
            //background: black;

        }

    }

    .testimonial-wrap {

        padding-left: 50px;
        //border:1px solid black;

    }

    .testimonial-item {

        box-sizing: content-box;
        padding: 30px 30px 30px 60px;
        margin: 30px 15px;
        min-height: 200px;
        box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
        position: relative;
        background: #fff;

        .testimonial-img {

            width: 90px;
            border-radius: 10px;
            border: 6px solid #fff;
            position: absolute;
            left: -45px;
            //border: 1px solid red;

        }

        h3 {

            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: #111;

        }

        h4 {

            font-size: 14px;
            color: #999;
            margin: 0;

        }

        p {

            font-style: italic;
            margin: 15px auto 15px auto;

        }

        .quote-icon-left {

            display: inline-block;
            left: -5px;
            position: relative;
            color: #e1f0fa;
            font-size: 26px;

        }

        .quote-icon-right {

            display: inline-block;
            right: -5px;
            top: 10px;
            position: relative;
            color: #e1f0fa;
            font-size: 26px;

        }

    }

    .swiper-pagination {

        margin-top: 20px;
        display: block;
        //position: relative;
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0,0,0);
        z-index: 10;
        //border: 1px solid black;
        //padding: 10px;

        .swiper-pagination-bullet {

            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            border: 1px solid #3498db;
            padding: 7px;
            margin-left: 5px;
            border-radius: 50%;
            display: inline-block;

        }

        .swiper-pagination-bullet-active {

            background: #3498db;

        }

        .swiper-pagination-clickable .swiper-pagination-bullet {
            cursor: pointer;
        }

    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
    }

}