@use "../../../wbu-ressources.scss" as *;
@use "../../../atome/typography/h4.scss";
@use "../../../atome/stan/seeMore.scss";

.images-bg {
  color: #fff;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  padding-top: $space_top;
  padding-bottom: $space_bottom;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.52);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .seeMore {
    display: inline-block;
    color: inherit;
    background: transparent;
    border-color: #fff;
  }

  .titre {
    font-size: $wbu-h1-font-size;
    line-height: 1.2;
    color: #fff;
    @include media-min("DD") {
      font-size: $wbu-h1-font-size * 2;
    }
    margin-bottom: $wbu-margin * 2;
  }

  .sub_title {
    font-size: $wbu-h4-font-size;
    color: #fff;
    @include media-min("DD") {
      font-size: $wbu-h4-font-size * 2;
    }
  }

  .row {
    padding-top: $wbu-margin;
    padding-bottom: $wbu-margin;
    @include media-min("DD") {
      padding-top: $wbu-margin * 2;
      padding-bottom: $wbu-margin * 2;
    }
  }
}
